<h3>Already Invited</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Confirmed?</th>
  </thead>
  <% @invited.each do |invite| %>
    <tr>
      <td><%= invite.name %></td>
      <td><%= invite.email %></td>
      <td><%= invite.expired ? 'Yes' : 'No' %></td>
    </tr>
  <% end %>
</table>

<h3>Sent New Invite</h3>
<%= form_for @invite, :url => campaign_invites_path(@campaign) do |f| %>
  <%= f.text_field 'name', :placeholder => 'Participants Name' %>
  <%= f.text_field 'email', :placeholder => 'Participants Email' %>
  <%= f.submit 'Send Invite' %>
<% end %>